@font-face {
  font-family: 'Alfabet';
  src: url('/assets/Fontspring-DEMO-alfabet-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, div, h1, label, input, select, .dash-graph {
  font-family: 'Alfabet', sans-serif;
}